
@font-face {
	src: url(../fonts/GT-Cinetype-Bold.otf);
	font-family: Cinetype;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Karla-Regular.ttf);
	font-family: Karla;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Karla-Bold.ttf);
	font-family: Karla;
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Chivo');


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cinetype', sans-serif;
  background: rgb(255, 232, 66);
  line-height: 1.5;
 letter-spacing: 0.5px;

}

::selection {
  background: rgb(255, 232, 66);

}

.plain {
  text-decoration:none;
  border-bottom: none !important;
}


a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

h2 a {
    padding-bottom: 0px;
    border-bottom: 2px solid white;
  
}


p {
  font-size: 18px;
  line-height:2;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height:1.5;
/*   text-transform:uppercase; */
}

h2 {
  font-size: 30px;
  max-width: 900px;
  padding-top:30px;
}

br {
}

div {
  background: transparent;
  width: 85%;
  height: 100%;
  margin: auto;
  padding: 140px 40px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  background: rgb(255, 232, 66);
  padding: 8px 14px;
  letter-spacing: 0.25px;
  border: 1px solid #000;
  border-radius: 3px;
  float: left;
}

@media screen and (min-width: 800px){
div {
  width: 75%;
  padding: 160px 200px;
}


h2 {
  font-size: 34px;
  max-width: 680px;
}


}
